<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css"> 
<style type="text/css">



#content-1 { 
float:left; 
width:20%; 
padding:1%; 
} 
#content-2-1 { 
float:left; 
width:70%; 
padding:1%; 
} 


</style>
</head>

<body>

<div id='head'>
<center><h1><font >Hotel Cipriani</h1></center>
</div>
<div id="body"> 

<div id="main"> 
<div id="content-1">
		<b>Menu</b><br>
	<div id="navigation">
	<ul class="top-level">
		<li><a href="home">Home<br></a></li>
		<li><a href="room">Room Types<br></a></li>
		<li><a href="book">Book A Room<br></a></li>
		<li><a href="about">About</a></li>
	</ul></div> 
<div id="content-2-1">
	<br>
	<img src="exterior.jpg" alt="exterior" width="900" height="500">
</div> 

</div> 
</div> 

</div> 



</body>
</html>